html {
  line-height: 1.618em;
  font-family: Georgia, Lora, serif;
  font-size: 18px;
  padding: 25px;
}

div {
  padding: 10px;
}

#fname, #lname, #email, #number, #password, #again {
  padding: 3px;
  width: 25%;
  font-size: 16px;
}

#signup {
  padding: 5px;
  font-family: Georgia, Lora, serif;
  width: 8em;
}
