html {
  line-height: 1.618em;
  font-family: Georgia, Lora, serif;
  font-size: 18px;
  padding: 15px;
  text-align: center;
}

div {
  padding: 10px;
}
h1{
  font-size: 25px;
}
#fname, #lname, #email, #number, #password, #again {
  padding: 3px;
  width: 20em;
  font-size: 16px;
}

#signup {
  padding: 5px;
  font-family: Georgia, Lora, serif;
  width: 6em;
}
@media screen and (min-width: 300px){
  #fname, #lname, #email, #number, #password, #again {
    width: 90%;
  }
  h1{
    padding-bottom:5px;
  }
}
@media screen and (min-width: 500px) {
  #fname, #lname, #email, #number, #password, #again {
    width: 20em;
  }
}
@media screen and (min-width:900px) {
  h1 {
    font-size: 35px;
    padding-bottom: 8px;
  }
  #signup{
    width: 8em;
  }
}
